<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hmys.sys.domain.Menu">
    <resultMap id="MenuActionVo" type="com.hmys.sys.domain.vo.MenuActionVo"/>
    <resultMap id="BaseResultMap" type="com.hmys.sys.domain.Menu">
        <id column="PK_ID" property="pkId" jdbcType="DECIMAL" />
        <id column="PARENT_ID" property="parentId" jdbcType="DECIMAL" />
        <result column="TEXT" property="text" jdbcType="VARCHAR" />
        <result column="MURL" property="murl" jdbcType="VARCHAR" />
        <result column="ICONCLS" property="iconCls" jdbcType="VARCHAR" />
        <result column="MENUNO" property="menuNo" jdbcType="INTEGER" />
        <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
        <result column="DS" property="ds" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 查询列表 -->
    <select id="select_list" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT t.*
        FROM SYS_MENU t WHERE t.DS = 'Y'
    </select>

</mapper>