body{
    background: #f7f7f7;
}

/* 自定义bootstrap-dialog样式 */
.dialog{}
.dialogtip .modal-header{border-radius: 4px; border-bottom: 0}
.dialogtip .modal-body{display: none}

/* 顶部工具栏样式 */
.top-bar{
    width: 100%;
}
/* 顶部工具栏左边样式 */
.top-bar .top-bar-left{
    width: 50%;
    float: left;
    padding-top: 10px;
}
/* 顶部工具栏右边样式 */
.top-bar .top-bar-right{
    width: 50%;
    float: left;
    padding-top: 10px;
}

/* 顶部搜索按钮样式 */
.top-search .input-group-btn button {
    border-radius: 0 25px 25px 0;
    border: 1px solid rgba(221,226,232,.49);
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #f2f2f2;
    margin-bottom: 0!important;
}

/* 顶部搜索输入框样式 */
.top-search .input-group-btn .top-search-input{
    border-radius: 15px
}
/* 更多搜素按钮样式 */
.dropdown-btn button {
    border-radius: 25px ;
    border: 1px solid rgba(221,226,232,.49);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #f2f2f2;
    margin-bottom: 0!important;
}

.popover{
    width:350px;
    background-color: #f7f7f7;
}

.form-horizontal{
    margin-top: 10px;
}

.form-control {
    border-radius: 5px;
}