<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <#include "/head.html">
</head>

<body class="default-body">
<form id="slick-login">
    <input type="text" name="username" class="placeholder" placeholder="请输入用户名">
    <input type="password" name="password" class="placeholder" placeholder="请输入密码">
    <input type="button" onclick="login()" value="登    录">
</form>

<script src="/js/login.js"></script>
</body>

</html>